body{
    background-color: rgb(241, 234, 234);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    letter-spacing: 1px;
}
.header{
    background-image:url("/Aakash/img/parallax-.jpg");
    background-size: fixed;
    padding: 30px 70px;
    color: white;
    align-items: center;
    justify-content: space-between;
  }
   p > a{
    right: 0;
    margin-left: 82%;
    text-decoration: none;
    color: white;
  }
.h2tage{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 55px;
    font-weight: 700;
}
.para{
    color: gray;
    font-size: 13px;
    text-align:center;
}
.address{
    border:1px solid gray;
    margin-right: 20px;
    width:33.3%;
    height: 120px;
    margin-bottom: 20px;
    
}
.iconic{
    border-right: 1px solid gray;
    width: 35%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#c4c1c1;
}
.ico{
    color: #80354c;
    font-size: 22px;
    width: 20px;
    cursor: pointer;
}
.ico:hover{
    transform:scale(1.3);
}
.text{
    margin-left: 15px;
    font-size: 13px;
    color: grey;
    padding:8px 8px ;

}
.h6tag{
    color: black;
}
@media (max-width:800px){
    
    .d-flex.or{
        flex-direction:column;
    }
    .h5tag{
        font-size: 20px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .h2tage{
        font-size: 25px;
        display: flex;
        justify-content: center;
        text-align: center;
    
    }
    p > a{
        margin-left: 0;
      }
    .text{
        font-size: 11px;
    }
    .address{
        width: 100%;
        margin-bottom: 20px;

    }
}